<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook we discuss various data science tools and ecosystems which support these tools. We also discuss the various functionalities of jupyterLab

### Objectives
- Learning about various data science tools
- Learning basic python programs
- Learning about APIs and other ML algorithms
- Learning JupyterLab and it's functionalities
- Learning RStudio and visualizing data
- Learning Watson Studio

### Data Science Languages
1. Python
2. R
3. MATLAB
4. Scala
5. Julia
6. SQL

### Data Science Libraries
1. NumPy
2. Pandas
3. Scipy
4. Scikit-learn
5. Tensorflow
6. Pytoch
7. Keras

### Data Science Tools
| Data Science Tools |
| -------------|
| Apache Spark |
| MATLAB |
| HadoopFS |

### Following are some examples of arithmetic expressions

In [ ]:
height = 12
volume = length * breadth * height
print(volume)

2400

In [ ]:
num1 = 100
num2 = 200
sum = num1 + num2
print(sum)

300

In [ ]:
length = 10
breadth = 20
area = length * breadth
print(area)

200

In [ ]:
# This is an example of multiplication then addition of two numbers
numeral = (3*4)+5b

In [ ]:
# This code below converts minutes to hours
minute = 200
hours = minute / 60

### Author
Subhasis Das